* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
:root {
    --primary-color: #e34d73;
}

body {
    font-family: sans-serif, arial, helvetica;
}

.web {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}

.content {
    padding: 38px 40px;
}

/* Navigation */
.navbar {
    width: 7.9%;
    border-right: 1px solid #ececef;
}

.navbar .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 42px;
}

.navbar .list li:nth-child(7) {
    margin-top: 255px;
}

.navbar .list a {
    display: inline-block;
    padding: 22px 0;
}

.navbar .list li:nth-child(7) a {
    padding-bottom: 0;
}

.navbar .list li {
    position: relative;
}

.message::before {
    display: block;
    content: "N";
    position: absolute;
    color: #fff;
    background-color: red;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
    outline: 3px solid #fff;
    top: 19px;
    right: -4px;
}

/* Body */
.body {
    width: 60%;
    border-right: 1px solid #ececef;
}

.body .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body .heading {
    font-size: 24px;
}

.body .time {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 92px;
    height: 38px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 999px;
    font-size: 14px;
}

.body .marker {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #f22128;
}

.body .row-data-time {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.body .row-data-time a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 28px;
    background-color: var(--primary-color);
    border-radius: 999px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.body .row-data-time a i {
    margin-right: 4px;
    color: var(--primary-color);
    font-size: 9px;
    padding: 3px 3px;
    background: #fff;
    border-radius: 50%;
}

.body .row-data-time input {
    border: none;
    outline: none;
    margin-left: 18px;
    font-size: 15px;
    display: block;
}

.border-right {
    margin-left: 17px;
    width: 2px;
    height: 14px;
    background: #e0e2e4;
}

.img-center {
    margin-top: 24px;
    background-image: url("./assets/img/img_big.png");
    height: 470px;
    border-top: 13px solid #f3f5f7;
    border-radius: 8px;
}

.body .speaker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 23px 0;
}

.body .speaker .name {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background: #757679;
    border-radius: 4px;
    font-size: 15px;
    color: #dbdde2;
}

.body .marker-green {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1dd75b;
    margin-right: 6px;
}

.body .list {
    margin-top: 24px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.body .list img {
    border-radius: 8px;
}

.body .list .list-item {
    position: relative;
}

.body .speaker-support {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    margin: 0 8px;
}

.body .speaker-support .name {
    display: flex;
    align-items: center;
    background: rgba(55, 58, 60, 0.6);
    padding: 6px 6px;
    border-radius: 4px;
    font-size: 12px;
    color: #ced0d4;
    white-space: nowrap;
}

.body .speaker-support .images {
    margin-left: calc(100% - 8px);
}

.body .speaker-support img {
    width: 28px;
    height: 28px;
}

.body .list-button {
    margin-top: 22px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 17px;
}

.body .button-end {
    display: inline-block;
    text-align: center;
    width: 128px;
    height: 44px;
    background-color: #f22128;
    color: #dbdde2;
    line-height: 44px;
    border-radius: 4px;
}

.body .button-other {
    display: inline-block;
    text-align: center;
    width: 43px;
    height: 43px;
    color: #f2f2f3;
    background-color: #9095a0;
    border-radius: 4px;
    line-height: 32px;
    font-size: 22px;
}

/* Participants & Chat */
.participants-chat {
    width: calc(100% - 67.9% - 32px);
}

.participants .heading {
    position: relative;
    font-size: 24px;
}

.number-participants::after {
    position: absolute;
    display: block;
    content: "4";
    width: 22px;
    height: 26px;
    font-size: 13px;
    font-weight: 100;
    border-radius: 40%;
    background: #fdf2f4;
    color: var(--primary-color);
    text-align: center;
    line-height: 26px;
    top: 1px;
    right: -26px;
}

.participants .row-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.participants .add {
    width: 73px;
    height: 36px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 14px;
}

.participants .add span:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-right: 6px;
}

.participants .list-participants {
    margin: 32px 0 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.participants .row-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.participants .user-join {
    display: flex;
    align-items: center;
}

.participants .user-join span {
    margin-left: 8px;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.participants .actions {
    display: flex;
    align-items: center;
    gap: 6px;
}

.participants .actions span {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 22px;
    letter-spacing: -1.2px;
    font-weight: 600;
    color: #818997;
    text-align: center;
    line-height: 9px;
}

.participants-chat .chat {
    padding-top: 40px;
    border-top: 1px solid rgb(236, 236, 239);
}

.chat .heading {
    font-size: 24px;
}

.chat .list {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.chat .conversation {
    margin-top: 42px;
}

.chat .conversation .item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.chat .conversation .name {
    margin-left: 18px;
    font-weight: 600;
    font-size: 14px;
    color: #444953;
    letter-spacing: 0.4px;
}

.chat .conversation .time {
    margin-left: 14px;
    color: #aaaeb5;
    font-size: 12px;
    /* font-weight: 600; */
}

.chat .conversation .desc {
    margin-left: 52px;
    background-color: #f8f9fa;
    padding: 10px 10px;
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 22px;
    border-radius: 2px;
}

.chat .icon-chat {
    /* margin-left: 76px; */
    margin-left: 85px;
    width: 98px;
    height: 54px;
}

.chat .box {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.chat .text-chat {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 4px;
    background: #f3f4f6;
}

.chat .text-chat input {
    padding: 11px 82px 11px 14px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #f3f4f6;
}

.chat .text-chat input::placeholder {
    color: #cacccf;
    letter-spacing: 0.5px;
}

.chat .text-chat i {
    margin-right: 12px;
    color: #000;
}

.chat .box .send {
    margin-left: 18px;
}
